<div class="container pb-5">
  <div class="bg-white d-flex justify-content-between p-1">
    <h3>Type of deal:</h3>
    <h3 class="fw-bold"><%= @sp_offer.category %></h3>
  </div>
  <div>
    <div style="width: 100%; height: 400px;"
          data-controller="sp-offer-map"
          data-sp-offer-map-markers-value="<%= @markers.to_json %>"
          data-sp-offer-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="container">
      <div class="my-2">
        <i class="offerdetails fa-solid fa-utensils"></i>
        <span class="text-dark"><%=@sp_offer.restaurant.name%></span>
      </div>
      <div class="my-2">
        <i class="offerdetails fa-solid fa-circle-info"></i>
        <span class="text-dark"><%=@sp_offer.description%></span>
      </div>
      <div class="my-2">
        <i class="offerdetails fa-solid fa-clock"></i>
        <span class="text-dark"><%=@sp_offer.start_date%> - <%=@sp_offer.end_date%></span>
      </div>
      <div class="my-2">
        <i class="offerdetails fa-solid fa-check"></i>
        <span class="text-dark"><%=@sp_offer.confirmation_count%></span>
      </div>
    </div>
    <div class = "d-flex justify-content-between">
      <!-- https://www.google.com/maps/search/?api=1&query=47.5951518%2C-122.3316393&query_place_id=ChIJKxjxuaNqkFQR3CK6O1HNNqY&hl=fr -->
      <%= link_to "Navigate", "https://www.google.fr/maps/dir/?api=1&destination=#{@sp_offer.restaurant.latitude},#{@sp_offer.restaurant.longitude}", method: :get, class: "btn btn-primary btn-lg rounded-3" %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add to list
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @sp_offer.restaurant.name %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Create new list?
            </div>
            <div class="modal-footer">
              <%= link_to "Create new list", new_special_offer_special_offers_list_path(@sp_offer), class: "btn btn-primary"  %>
              <%= link_to "Add to existing list", new_special_offer_offers_collection_path(@sp_offer), class: "btn btn-secondary"  %>
            </div>
          </div>
        </div>
      </div>
      <%= form_for @sp_offer, html: {
      data: {
        controller: "sweetalert",
        sweetalert_icon_value: "warning",
        sweetalert_title_value: "Is the special offer still valid?",
        sweetalert_html_value: "Or is it over?",
        sweetalert_confirm_button_text_value: "Valid!",
        sweetalert_show_cancel_button_value: true,
        sweetalert_cancel_button_text_value: "Over 😔",
        action: "submit->sweetalert#initSweetalert",
        turbo: false
      } } do |f| %>
        <%= f.submit "I'M THERE", class: "btn btn-primary btn-lg rounded-3" %>
      <% end %>
    </div>
  </div>
  <ul class="nav nav-tabs my-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="photo-tab" data-bs-toggle="tab" data-bs-target="#photo-tab-pane" type="button" role="tab" aria-controls="photo-tab-pane" aria-selected="true">Photos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">Reviews</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="photo-tab-pane" role="tabpanel" aria-labelledby="photo-tab" tabindex="0">
      <div class="offer-img-container">
        <% if @sp_offer.photos.any?%>
          <div id="carouselPhoto" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% @sp_offer.photos.each_with_index do |photo, index|%>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= cl_image_tag photo.key, class: "w-100 h-100", style: "object-fit: cover;" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhoto" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPhoto" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <div>
            <%= image_tag "default_offer.png", alt: "text", class: "default_offer" %>
          </div>
          <div class="restaurantbox w-100 text-light d-flex justify-content-center py-1">
            <%= @sp_offer.restaurant.name%>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">
      <div class="d-flex my-2">
        <% if user_signed_in? %>
          <%=link_to "Add Review",new_special_offer_review_path(@sp_offer), class: " justify-content-end m-auto btn btn-info w-50" %>
        <% end %>
      </div>
      <% if @sp_offer.reviews.any? %>
        <% @sp_offer.reviews.order("created_at desc").each do |review| %>
          <div class="review">
            <p><strong><%= review.user.username %></strong></p>
            <div class="star-rating-display">
              <% review.rating.times do %>
                <i class="fa fa-star text-warning"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="fa fa-star text-secondary"></i>
              <% end %>
            </div>
            <p><%= review.description %></p>
          </div>
          <hr>
        <% end %>
      <% else %>
        <h3>No Reviews yet..</h3>
      <% end %>
    </div>
  </div>
</div>
