<div class="row mb-3">
  <%= simple_form_for @invitation, html: { class: "d-flex align-items-center search-form" } do |f|%>
    <%= f.input_field :friend_id,
    collection: @users.pluck(:username, :id),
    prompt: "Search Friend",
    class: "form-control me-2 rounded-pill",
    input_html: { style: "width: auto; flex: 1;" } %>
    <%= f.submit 'Invite', class: "btn btn-primary rounded-pill" %>
  <% end %>
</div>
<br>
<h3><%=@user.username%>'s friends</h3>
<ul>
  <% @user.friends.each do |friend|%>
    <li><%=friend.username%></li>
  <%end%>
</ul>
<h3>Sent invitations:</h3>
<ul>
  <% @user.invitations_sent.pending.each do |invitation|%>
    <li>
      <%=User.find(invitation.friend_id).username%>
    </li>
  <% end %>
</ul>
<h3>Received invitations:</h3>
<ul>
  <% @user.invitations_received.pending.each do |invitation|%>
    <li>
      <%=User.find(invitation.user_id).username%>
      <div class="d-flex align-items-center">
        <%= simple_form_for invitation do |f| %>
          <%= f.input :confirmed, as: :hidden, input_html: { value: true} %>
          <%= f.submit 'Accept' %>
        <% end %>
        <%= simple_form_for invitation do |f| %>
          <%= f.input :confirmed, as: :hidden, input_html: { value: false} %>
          <%= f.submit 'Reject' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
