<div class="container my-4">
  <div class="row mb-3">
    <%= simple_form_for @invitation, html: { class: "d-flex align-items-center search-form w-100" } do |f| %>
      <%= f.input_field :friend_id,
        collection: @users.pluck(:username, :id),
        prompt: "Search Friend",
        class: "form-control me-2 rounded-pill",
        input_html: { style: "flex: 1;" } %>
      <%= f.submit 'Invite', class: "btn btn-primary rounded-pill" %>
    <% end %>
  </div>
</div>

<br>
<h3><%=@user.username%>'s friends</h3>
<ul>
  <% @user.friends.each do |friend|%>
    <li><%=friend.username%></li>
  <%end%>
</ul>
<h3>Sent invitations:</h3>
<ul>
  <% @user.invitations_sent.pending.each do |invitation|%>
    <%# <%=User.find(invitation.friend_id).username%>
    <%= cl_image_tag User.find(invitation.friend_id).photo.key,
    alt: "avatar image",
    class: "avatar-small rounded-circle border border-primary shadow-sm",
    title: User.find(invitation.friend_id).username %>
  <% end %>

</ul>
<h3>Received invitations:</h3>
<ul>
  <% @user.invitations_received.pending.each do |invitation|%>
    <li>
      <%=User.find(invitation.user_id).username%>
      <div class="d-flex align-items-center">
        <%= simple_form_for invitation do |f| %>
          <%= f.input :confirmed, as: :hidden, input_html: { value: true} %>
          <%= f.submit 'Accept' %>
        <% end %>
        <%= simple_form_for invitation do |f| %>
          <%= f.input :confirmed, as: :hidden, input_html: { value: false} %>
          <%= f.submit 'Reject' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
