<div class="container">
  <div class="my-3 p-1 d-flex flex-row justify-content-between align-items-center bg-light pt-2 rounded shadow-sm">
    <div>
      <%= image_tag "avatar.png", alt: "avatar image", class: "avatar-large" %>
    </div>
    <div>
      <span class="h5">Hello <%= @user.username %>!</span>
    </div>
    <div class="text-center">
      <% if user_signed_in? %>
        <div class="btn btn-info">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-door-open"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= simple_form_for @user do |f|%>
    <%= f.input_field :username, collection: User.all, prompt: "Search Friend"%>
  <% end %>
  <%=render "friends_list"%>
</div>
