<div class="container">
  <nav class="navbar fixed-bottom bg-light bg-gradient shadow-lg">
    <div class="container-fluid">
      <div>
        <%= link_to special_offers_path, class: "btn" do %>
          <i class="fa-solid fa-house fs-1"></i>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to new_special_offer_path, class: "btn" do %>
            <i class="fa-solid fa-plus fs-1"></i>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <!-- the first voter of a voting session is the "organizer",
        for the organizer the voting session the link/icon displays -->
        <% if current_user_voting_session_as_master %>
          <div>
            <%= link_to voting_session_path(current_user.voters[0].voting_session), class: "btn" do %>
              <i class="fa-solid fa-users fs-1"></i>
            <% end %>
          </div>
        <%elsif current_user_voting_session %>
          <%if current_user_voting_session.status == 1%>
            <div>
              <%= link_to voting_session_path(current_user_voting_session), class: "btn" do %>
                <i class="fa-solid fa-users fs-1" style="color:green"></i>
              <% end %>
            </div>
          <%elsif current_user_voting_session.status == 2%>
            <div>
              <%= link_to "https://www.google.fr/maps/dir/?api=1&destination=#{current_user_voted_location.latitude},#{current_user_voted_location.longitude}", class: "btn" do %>
                <i class="fa-regular fa-compass fs-1" style="color:red"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div>
        <% if user_signed_in?%>
          <%= link_to user_path(current_user), class: "btn" do %>
            <%= cl_image_tag current_user.photo.key, class: "img-thumbnail rounded-circle", width: "50px" %>
          <%end%>
        <%else%>
          <%= link_to new_user_session_path, class: "btn" do %>
            <i class="fa-solid fa-circle-user fs-1"></i>
          <%end%>
        <%end%>
      </div>
    </div>
  </nav>
</div>
