<div class="container friendslist">
  <div class="friendslist-user">
    <%#= cl_image_tag current_user.photo.key, class: "img-thumbnail rounded-circle", width: "75px", alt: "#{current_user.username}" %>
    <h3><%= current_user.username %>  |  Your Friends Groups</h3>
  </div>
  <div>
    <h4>Voters:</h4>
    <%= turbo_stream_from "vote_#{@voting_session.id}_new" %>
    <ul class="text-decoration-none list-unstyled" id="votinguserslist">
      <% @voting_session.voters.each do |voter| %>
        <div  id="voting<%=voter.id%>">
          <%= render 'friendslist_li', voter: voter, voting_session: @voting_session %>
        </div>
      <% end %>
    </ul>
  </div>
  <hr>
  <div>
    <%= simple_form_for @voter, html: { class: "d-flex search-form align-items-center m-auto gap-2" } do |f| %>
      <%= f.input :user_id,
    collection: @available_friends.pluck(:username, :id),
    input_html: { class: "form-control rounded-pill flex-grow-1 mt-1" },
    wrapper_html: { class: "mb-0 flex-grow-1" }, # Ensure no margin-bottom
    label: false %>
      <%= f.input :voting_session_id, as: :hidden, input_html: { value: @voting_session.id } %>
      <%= f.submit '+ friend', class: "btn btn-primary rounded-pill mb-2" %>
    <% end %>
  </div>
</div>
<hr class="mb-2">
