<li class="text-decoration-none d-flex justify-content-between mx-3 p-2 border-bottom">
  <div>
    <div class="d-flex">
      <i class="offerdetails fa-solid fa-circle-info mx-2"></i>
      <h6 class="text-dark"><%=special_offer.category%></h6>
    </div>
    <div>
      <i class="offerdetails fa-solid fa-utensils mx-2"></i>
      <span class="text-dark  opacity-50"><%=special_offer.restaurant.name%></span>
    </div>
  </div>
  <div class="d-flex justifty-content-between mt-2">
    <% vote = @votes.find_by(special_offer: special_offer, voting_session: voting_session) if @votes %>
    <% if vote %>
      <%= link_to vote_path(vote), data: {turbo_method: :delete} do %>
        <i class="fa-regular fa-square-check for-icon ml-3"></i>
      <% end %>
    <% else %>
      <%= form_for [voting_session, Vote.new] do |f| %>
        <%= f.hidden_field :special_offer_id, value: special_offer.id %>
        <%= f.button '', {class: 'btn unselected-vote-btn'} do %>
          <i class="fa-regular fa-square-check for-icon unselected"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>