<div class="offerslist">
  <h1 class="shadow p-3 rounded text-center"> WHERE TO GATHER? </h1>
  <ul class="list-group">
    <%@voting_session.special_offers.each do |special_offer|%>
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column">
            <div>
              <i class="offerdetails fa-solid fa-utensils"></i>
              <span class="text-dark"><%=special_offer.restaurant.name%></span>
            </div>
            <div>
              <i class="offerdetails fa-solid fa-circle-info"></i>
              <span class="text-dark"><%=special_offer.category%></span>
            </div>
          </div>
          <div class="d-flex voting-btns">
            <% vote = Vote.find_by(user: current_user, special_offer: special_offer, voting_session: @voting_session) %>
            <% if vote %>
              <%= link_to vote_path(vote), class: "mt-2", data: {turbo_method: :delete} do %>
                <i class="fa-regular fa-rectangle-xmark against-icon unselected"></i>
              <% end %>
            <% else %>
              <%= form_for [@voting_session, @vote] do |f| %>
                <%= f.hidden_field :special_offer_id, value: special_offer.id %>
                <%= f.button '', {class: 'btn'} do %>
                  <i class="fa-regular fa-square-check for-icon "></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Submit Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%=simple_form_for @collection do |f|%>
            <%= f.input_field :special_offer_id, collection: SpecialOffer.all.pluck(:category, :id), prompt: "Select a special offer", class: "form-control me-2 rounded-pill", input_html: { style: "width: auto; flex: 1;" } %>
            <%= f.input :voting_session_id, as: :hidden,  class: "form-control", input_html: { value: @voting_session.id} %>
            <%= f.submit "Add Special Offer", class: "btn btn-primary" %>
            <%= link_to "Cancel", :back, class: "btn btn-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Trigger Button -->
  <div class="row justify-content-between align-items-center my-2">
    <div class="col text-center">
      <button type="button" class="btn btn-warning rounded-3 shadow-sm text-white">
        RESET
      </button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary rounded-3 shadow-sm " data-bs-toggle="modal" data-bs-target="#myModal">
        + OFFER
      </button>
    </div>
    <div class="col text-center">
      <%if @voting_session.status == 0 %>
        <%= simple_form_for @voting_session do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 1} %>
          <%= f.submit 'OPEN?', class: 'btn btn-success rounded-3 shadow-sm text-white' %>
        <% end %>
      <% elsif @voting_session.status == 1 && @voting_session.user == current_user %>
        <!-- if the voting session has  "opened" (status=1) by organizer then
        the guest/friend won't see the button but the organizer will see it as a close vote button -->
        <%= simple_form_for @voting_session do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 2} %>
          <%= f.submit 'END?', class: 'btn btn-success rounded-3 shadow-sm text-white' %>
        <% end %>
      <% elsif @voting_session.status == 2 && @voting_session.user == current_user %>
        <!-- if the voting session has ended (status=2) then organizer can end the vote
        the guest/friend won't see the button but the organizer will see it as a close vote button -->
        <%= simple_form_for @voting_session, url: voting_session_path(@voting_session), method: :delete do |f| %>
          <%= f.submit 'CLOSE?', 
          data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently close this voting session?"}, 
          class: 'btn btn-success rounded-3 shadow-sm text-white' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
