<div class="container">
  <h1>Review</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for [@special_offer, @review] do |f| %>
          <div class="star-rating">
            <% 5.times do |i| %>
              <input type="radio" name="review[rating]" value="<%= i + 1 %>" id="star-<%= i + 1 %>" />
              <label for="star-<%= i + 1 %>"></label>
            <% end %>
          </div>
          <%= f.input :description %>
          <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
          <%= f.submit "Send your review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
